
<div id="" class="span-23 np-red np-padding">

  <h1>Reset Password</h1>

  <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field span-5 append-18">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field span-5 append-18">
      <%= f.label :password_confirmation, "Confirm" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions"><%= f.submit "Save Password" %></div>
  <% end %>

</div>
