<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div class="np-blue" id="error_explanation">
      <div class="np-blue"><h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
          <% @recipe.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
      <%= f.fields_for :inventory_items do |builder| %>
        <%= render "inventory_item_fields", f: builder %>
      <% end %>
      <%= link_to_add_association "Add Inventory Item", f, :inventory_items %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <h2> Ingredients (leave blank to exclude from recipe) </h2>
    <%= fields_for :recipe_rel_ingredients do |builder| %>
      <%= render 'recipe_rel_ingredient_fields', f: builder, recipe: @recipe %>
    <% end %>
  </div>
  <div class = "field">
    <%= f.fields_for :nutrition_info do |builder| %>
      <%= render 'nutrition_info_fields', f: builder %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
