
<div class = "nested-fields">
  <fieldset>
    <legend>Inventory Item</legend>
  <div class = "field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class = "field">
    <%= f.label :quantity, "Choose Size" %> <br />
    <% ['Regular', 'Large', 'Family'].each do |quantity| %>
      <%= f.radio_button(:quantity, quantity) %> 
      <label><%=quantity.to_s%></label><br />
    <% end %>
  </div>
  <div class = "field">
    <%= link_to_remove_association "Remove Inventory Item", f %>
  </div>
  </fieldset>
</div>

