<fieldset>
  <legend>Nutrition Info</legend>
  <div class="field">
    <%= f.label :calories %><br />
    <%= f.text_field :calories %>
  </div>
  <div class="field">
    <%= f.label :protein %><br />
    <%= f.text_field :protein %>
  </div>
  <div class="field">
    <%= f.label :fat %><br />
    <%= f.text_field :fat %>
  </div>
  <div class="field">
    <%= f.label :carbohydrates %><br />
    <%= f.text_field :carbohydates %>
  </div>
  <div class="field">
    <%= f.label :fiber %><br />
    <%= f.text_field :fiber %>
  </div>
</fieldset>
