<div id="page-content" class="span-24">
  <% if @current_menus == nil %>
    <div class="span-11 np-padding np-blue">
      <p class="x-large" style="padding-top: 20px; margin-bottom: 5px;">
      There are no menus available.
      </p>
    </div>
  <% else %>
      <div class="span-11 np-padding np-blue">
        <p class="x-large" style="padding-top: 20px; margin-bottom: 5px;">
        CURRENT WEEK'S MENU
        </p>
        <p class="center">
        Available to order <%= @current_menus.start_date %> through <%= @current_menus.end_date %>
        <br/>
        Avaiable for pick up after 3 PM on <%= @current_menus.pickUpDate%>
        </p>
        <p class="center">
        <% @menu_entrees.each do |menu_entree| %>
          <%= link_to menu_entree.title, recipe_path(menu_entree.id) %>  
          <% menu_entree.inventory_items.each_with_index do |inventory_item, index| %>
            <%= inventory_item.quantity %> - <%= inventory_item.price %>
            <% if index != menu_entree.inventory_items.length-1 %>
              <%= "," %>
            <% end %>
          <% end %>
          <br />
        <% end %>
        </p>
        <div class = "x-large" style="text-decoration:underline;">
          Salads
        </div>
        <hr class="space" />
        <div class="large center" >
          <% @menu_salads.each do |menu_salad| %>
            <%= link_to menu_salad.title, recipe_path(menu_salad.id) %><br />  
          <% end %>
          Small (2 cups): $2 <br />
          Large (4 cups): $3.50
        </div>
        <% if admin %>
          <%= link_to 'Edit', edit_menu_path(@current_menus) %></td>
        <% end %>
      </div>
  <% end %>
  <div class="span-11 last np-padding np-blue">
    <p class="x-large"style="padding-top: 20px; margin-bottom: 5px;" >COMPLETE MENU</p>
    <h2 style="text-align:center;">(rotated weekly)</h2>
    <p class="center" style="font-size:15px;">Click on selection for nutrition information and pricing</p>
    <hr class="space" />
    <h2 style="text-align:center;">SOUPS/STEWS</h2>
    <% if @soups.length > 0 %>
      <% @soups.each do |soup| %>
        <p class="center"style="font-size:15px;">
        <%= link_to soup.title, recipe_path(soup.id) %> - 
        <% soup.inventory_items.each_with_index do |inventory_item, index| %>
          $<%= inventory_item.price %> (<%= inventory_item.quantity%>)
          <%= (index == soup.inventory_items.length-1) ? "" : "," %> 
        <% end %>
        </p>
      <% end %>
    <% end %>
    <hr class="space" />
    <h2 style="text-align:center;">MAIN DISHES</h2>
    <% if @full_meals.length > 0 %>
      <% @full_meals.each do |full_meal| %>
        <p class="center" style="font-size:15px;">
        <%= link_to full_meal.title, recipe_path(full_meal.id) %> - 
        <% full_meal.inventory_items.each_with_index do |inventory_item, index| %>
          $<%= inventory_item.price %> (<%= inventory_item.quantity%>)
          <%= (index == full_meal.inventory_items.length-1) ? "" : "," %> 
        <% end %>
        </p>
      <% end %>
    <% end %>
    <hr class="space" />
    <h2 style="text-align:center;">SANDWICHES</h2>
    <% if @sandwiches.length > 0 %>
      <% @sandwiches.each do |sandwich| %>
        <p class="center" style="font-size:15px;">
        <%= link_to sandwich.title, recipe_path(sandwich.id) %> - 
        <% sandwich.inventory_items.each_with_index do |inventory_item, index| %>
          $<%= inventory_item.price %>
          <%= (index == sandwich.inventory_items.length-1) ? "" : "," %> 
        <% end %>
        </p>
      <% end %>
    <% end %>
    <hr class="space" />
    <h2 style="text-align:center;">COLD DISHES</h2>
    <% if @cold_dishes.length > 0 %>
      <% @cold_dishes.each do |cold_dish| %>
        <p class="center" style="font-size:15px;">
        <%= link_to cold_dish.title, recipe_path(cold_dish.id) %> - 
        <% cold_dish.inventory_items.each_with_index do |inventory_item, index| %>
          $<%= inventory_item.price %>
          <%= (index == cold_dish.inventory_items.length-1) ? "" : "," %> 
        <% end %>
        </p>
      <% end %>
    <% end %>

  </div>
</div>
