<% content_for :javascript_includes do %>
  <%= javascript_include_tag "home_posts.js" %>
<% end %>

<hr class="space">
<div id="home-post-side" class="home-post-side np-padding span-6 first">
  <h3>Ingredient Close Up</h3>
  <p>Coming soon!</p>
</div>
<div class = "prepend-1 span-16 last">
  <div id="home-post-top" class ="span-15 home-post-top">
    <div class="span-15">
      <p>
      <h2><%= @home_post.top_title %></h2>
      </p>
    </div>

    <div class="span-15">
      <p>
      <%= @home_post.top_body.html_safe %>
      </p>
    </div>
  </div>
  <hr class="space">

  <div id="home-post-bottom" class ="home-post-bottom np-padding">
    <p>
    <h2><%= @home_post.bottom_title %></h2>
    </p>
    <p>
    <%= @home_post.bottom_body.html_safe %>
    </p>
    <% if admin %>
        <%= link_to 'Edit', edit_home_post_path(@home_post) %> |
        <%= link_to 'Back to index of home posts', home_posts_path %>
    <% end %>

  </div>
</div>



