
<hr class="space">
<div  class="span-23 last <%= @page.name %>">
  <h1 class="center"><%= @page.name %></h1>

  <%= simple_format @page.content %>

  <%= link_to 'Edit', edit_page_path(@page) %> |
  <%= link_to 'Back', pages_path %>
</div>
