<!DOCTYPE html>
<html>
  <head>
    <title>Nature's Plate</title>
    <%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
    <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie', :media => "screen, projection" %><![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :cocoon %>
    <%= yield :javascript_includes %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container" id="content">
      <div id="user_header" class = "login span-24 last">
        <div class="prepend-1 span-3 append-1 first">
          &nbsp;
          <%= render "notice" %>
        </div>

        <div class="login-text span-18">
          <% if current_user %>
            Logged in as <%= current_user.email %>.
            <%= link_to "Log Out", logout_path %>
          <% else %>
            <%= link_to "Sign Up", signup_path %> or
            <%= link_to "Log In", login_path %>
          <% end %>
        </div>
        <% if admin %>
          <div class="span-22 login-text np-padding">
            <%= link_to "Admin Index", :controller => "administrator", :action=>"index" %>
          </div>
        <% end %>
      </div>




      <hr class="space" />
      <%= render "header" %>
      <hr class="space" />
      <%= render "menu" %>

      <hr class="space" />

      <%= yield %>

      <%= render "footer" %>
    </div>

  </body>
</html>
